{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table>
    <h1>Liste des tâches ! ✅</h1>
        <tr>
            <th>Titre</th>
            <th>Description</th>
        </tr>
            {% for todo in list %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
        </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
